<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="login-content">
			<form action="/sub" method="post">
				<h2 class="title">Welcome</h2>
                <h2 class="title">Diet Recommendation System </h2>
           		<div class="input-div one">
           		   <div class="div">
           		   		<h5>Name</h5>
           		   		<input type="text" class="input" name ="person">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="div">
           		    	<h5>Weight</h5>
           		    	<input type="number" class="input" name ="weight">
                        <h5>Height</h5>
           		    	<input type="number" class="input" name="height">
                        <h5>Age</h5>
           		    	<input type="number" class="input" name="age">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>

</body>
</html>